<div class="page-header">
  <h3>
    <span>{{comment.body}}</span>
  </h3>
</div>

<form ng-submit="addComment()" style="margin-top:30px;">
  <h3>Add a new comment</h3>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Comment" ng-model="body"></input>
  </div>
  <button type="submit" class="btn btn-primary">Comment</button>
</form>

<div ng-repeat="comment in comment.comments | orderBy: '-upvotes'">
  <span class="glyphicon glyphicon-thumbs-up" ng-click="upvote(comment)"></span>
  <span class="glyphicon glyphicon-thumbs-down" ng-click="downvote(comment)"></span>
  {{ comment.upvotes }} - by
  <a ng-href="#/users/{{comment.user.username}}"> {{ comment.user.username }}</a>
  <span style="font-size:20px; margin-left: 10px;"> {{ comment.body }} </span>
    <span>
      <a href="#/comments/{{comment.id}}">Comments ({{comment.comment_count}})</a>
    </span>
</div>

